.isDone {
  text-decoration: line-through;
}
.container-activities {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.btn-danger {
  text-decoration: none;
  margin-left: 3px;
}
